@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.page form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.page input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.page button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: hsl(171, 100%, 41%);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.page button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}

.create {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: hsl(171, 100%, 41%);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.loginnds {
  font-size: 30px;
  width: 50%;
  height: 100%;
  display: contents;
  text-align: center;
}

.loginnds p {
  background-color: #e4dde6;
  margin-top: 7rem;
  margin-bottom: 12rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 4rem;
  padding-bottom: 6rem;
  justify-content: center;
  font-family: 'IBM Plex Mono', monospace;
}

.loginnds i {
  width: 50%;
  height: 100%;
  font-size: 60px;
  background-color: transparent;
  margin-top: 12rem;
  margin-bottom: 12rem;
  justify-content: center;
}
