.card-group {
  width: 300px;
  height: 380px;
}

.vvnsdknvdk :hover {
  transform: scale(1.005);
}

.card-img-top {
  width: 298px;
  height: 200px;
}

.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: yellow;}
