.paginas {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 10px;
    margin:10px
}

.btnPag{
    padding: 7px 11px;
    margin: 0px 20px;
    border: 2px solid #52AD9C;
    border-radius: 10px;
    background-color: #57cc99;
    color: black;
    font-size: 15px;
    font-family: serif;
    text-transform: uppercase;
    transition: 0.15s;
    cursor: pointer;
    
}