.search {
  display: flex;
  align-items: center;
  /* justify-content: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; */
}

.input {
  width: 450px;
  font-size: 25px;
  font-family: "Times New Roman";
  outline: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 40px;
  border: solid 2px #472183;
}

.btn {
  width: 150px;
  height: 46px;
  font-size: 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 2px #472183;
}

.btn:hover {
  background: #E5BA73;
  cursor: pointer;
}
