.navbar  {
  background: linear-gradient(-45deg, #b052ee, #cb3ce7, #6fb4ce, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

a {
  cursor: pointer;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#csdcs {
  font-family: 'Libre Baskerville', serif;
  font-size:small;
}

.navbar-brand {
  margin-left: -10px;
}



