.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.logo {
    display: flex;
    align-items: center;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;   
}

.logo > img {
    width: 3rem;
    height: 3rem;
}

/* menu */

.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 1rem
}