.hidden {
    display: none;
}

.visible {
    background: none;
}

.title {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 2rem;
    border: solid #8EFCE4;
    border-radius: 1rem;
}

.edit-btn {
    color: azure;
}

.delete-btn {
    color: red;
}
