.hidden {
    display: none;
}

.visible {
    background: none;
}

.title {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    border: #3999be;
    border-radius: 1rem;
    padding: 20px;
}

.edit-btn {
    color: rgb(46, 119, 119);
}

.delete-btn {
    color:brown;
    background-color: #8EFCE4;
    border-radius: 1rem;
    padding: 5px;
}

.scsdcds {
    font-family: 'Inter', sans-serif;
}

.cjdcnsjdnc {
        top: 0;
        left: 55%;
        background: rgb(61, 143, 190);
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 1px;

}